/* Estilos de las etiquetas HTML */
html {
	font-family: 'Muli', sans-serif !important;
	font-size: 13px !important;
}

body {
	background-image: url("#{resource['images/FondoBodyLogin.jpg']}")
}

a a:hover, a:visited, a:link, a:active {
	color: orange;
	text-decoration: none;
	font-weight: bold;
}

tr {
	background: none !important;
	border-style: none !important;
}

td {
	border-style: none !important;
	padding: 10px !important;
	font-size: 15px !important;
}

/* Estilos de los id de los elementos HTML */
#panelBusqueda {
	position: fixed;
	width: 100%;
	height: 60px;
	margin-top: -10px;
	left: 230px;
	z-index: 100;
	background-color: #F29100;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

#panelMenu {
	position: fixed;
	width: 230px;
	height: 100%;
	margin: -8px;
	z-index: 101;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	background-image: -webkit-linear-gradient(top, #424242, #000000);
}

#panelContenido {
	position: absolute;
	margin-top: 10px;
	margin-left: 230px;
	width: 87%;
	min-height: 600px;
	background: #EEEEEE;
}

/* Estilos de los id de los elementos HTML */
.ui-datepicker td {
	padding: 0 !important;
}

.ui-widget {
	font-family: 'Muli', sans-serif !important;
	font-size: 13px !important;
}

.ui-inputfield {
	background: #EEEEEE !important;
	font-weight: bold !important;
	width: 90% !important;
	padding: 5px !important;
}

.ui-outputlabel {
	font-weight: bold !important;
}

.ui-button {
	font-weight: bold !important;
	padding: 5px !important;
	box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.26);
}

.ui-g-1, .ui-g-2, .ui-g-3, .ui-g-4, .ui-g-5, .ui-g-6, .ui-g-7, .ui-g-8,
	.ui-g-9, .ui-g-10, .ui-g-11, .ui-g-12 {
	padding: 1.5em !important;
}

.formularioCentrado {
	background: white;
	border-radius: 7px;
	box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.26);
	margin: 100px auto;
	text-align: center;
	vertical-align: middle;
	width: 400px;
	padding: 10px;
}

.logoEmpresa {
	width: 200px;
	padding: 15px;
}

.formContenedor {
	display: inline-block;
	position: relative;
	width: 100%;
	min-height: 300px;
	background: #F5F5F5;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.26);
	border-style: none !important;
	vertical-align: top;
}

.titulo {
	font-size: 20px !important;
	font-weight: bold;
}

.marker {
	width: 40px;
	top: 220px;
	left: 48.8%;
	position: absolute;
}

.mapaUbicacion {
	width: 100%;
	height: 500px;
}

.botonCentrado {
	text-align: center;
}

/* INICIO MENU NAVEGACION */
.top-nav ul {
	padding: 0;
}

.top-nav ul li {
	list-style: none;
}

.top-nav ul li  a {
	display: block;
	outline: none;
	color: #fff;
	text-decoration: none;
	padding: 20px;
	text-align: left;
	font-size: 14px;
	font-weight: bold;
}

.top-nav ul li  a:hover {
	background: #424242;
	border-left-width: 10px;
	border-left-style: solid;
	border-left-color: #002153;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
/* FINAL MENU NAVEGACION */