<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/template/Template.xhtml">

	<ui:define name="content">
		<div class="ui-g">
			<div class="ui-g-8">
				<p:panel class="formContenedor">
					<h2>
						<b>Movimientos</b>
					</h2>
					<p:dataTable var="movimiento"
						value="#{moviminetosPrestamos.prestamoSeleccionado.listaMovimientos}">

						<p:column headerText="Id" width="80">
							<h:outputText value="#{movimiento.idPagosRealizados}" />
						</p:column>

						<p:column headerText="Fecha">
							<h:outputText value="#{movimiento.fechaCobro}" />
						</p:column>
						
						<p:column headerText="Descripcion">
							<h:outputText value="Pago cuota" />
						</p:column>

						<p:column headerText="Valor">
							<h:outputText value="#{movimiento.valorRecaudado}" />
						</p:column>

					</p:dataTable>
				</p:panel>
			</div>
			<div class="ui-g-4">
				<p:panel class="formContenedor">
					<h2>
						<b>Cuenta</b>
					</h2>
					<p:panelGrid columns="2">

						<h:outputText value="Convenio:" />
						<h:outputText
							value="#{moviminetosPrestamos.prestamoSeleccionado.convenio}" />

						<h:outputText value="Cuotas:" />
						<h:outputText
							value="#{moviminetosPrestamos.prestamoSeleccionado.cantidadCuotas}" />

						<h:outputText value="Valor cuota:" />
						<h:outputText
							value="#{moviminetosPrestamos.prestamoSeleccionado.valorCuota}" />

						<h:outputText value="Valor prestamo:" />
						<h:outputText
							value="#{moviminetosPrestamos.prestamoSeleccionado.valorPrestamo}" />

					</p:panelGrid>


				</p:panel>
			</div>
		</div>
	</ui:define>

</ui:composition>