<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/template/Template.xhtml">

	<ui:define name="content">
		<div class="ui-g">
			<div class="ui-g-8">
				<p:panel class="formContenedor">
					<h2>
						<b>Movimientos</b>
					</h2>
					<p:dataTable var="movimiento"
						value="#{moviminetosCuentas.cuentaSeleccionada.movimientos}">

						<p:column headerText="Id" width="80">
							<h:outputText value="#{movimiento.idMovimiento}" />
						</p:column>

						<p:column headerText="Fecha">
							<h:outputText value="#{movimiento.fechaMovieminto}" />
						</p:column>

						<p:column headerText="Oficina">
							<h:outputText value="#{movimiento.oficinaMovieminto}" />
						</p:column>

						<p:column headerText="Referencia">
							<h:outputText value="#{movimiento.referenciaMovieminto}" />
						</p:column>

						<p:column headerText="Descripcion">
							<h:outputText value="#{movimiento.descripcionMovieminto}" />
						</p:column>

						<p:column headerText="Valor">
							<h:outputText value="#{movimiento.valorMovieminto}" />
						</p:column>

					</p:dataTable>
				</p:panel>
			</div>
			<div class="ui-g-4">
				<p:panel class="formContenedor">
					<h2>
						<b>Cuenta</b>
					</h2>
					<p:panelGrid columns="2">

						<h:outputText value="Numero de cuenta:" />
						<h:outputText
							value="#{moviminetosCuentas.cuentaSeleccionada.numeroCuenta}" />

						<h:outputText value="Nombre cuenta:" />
						<h:outputText
							value="#{moviminetosCuentas.cuentaSeleccionada.nombreCuenta}" />

						<h:outputText value="Tipo Cuenta:" />
						<h:outputText
							value="#{moviminetosCuentas.cuentaSeleccionada.tipoCuenta}" />

						<h:outputText value="Saldo:" />
						<h:outputText
							value="#{moviminetosCuentas.cuentaSeleccionada.saldoCuenta}" />

					</p:panelGrid>


				</p:panel>
			</div>
		</div>
	</ui:define>

</ui:composition>