<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/template/Template.xhtml">

	<ui:define name="content">

		<div class="ui-g">
			<div class="ui-g-8">
				<p:panel class="formContenedor">
					<h2>
						<b>Cuentas de ahorros y corrientes</b>
					</h2>
					<h:form>
						<p:dataTable var="cuenta" value="#{dashboard.cuentasCliente}">
							<p:column headerText="Id" width="80">
								<h:outputText value="#{cuenta.idCuenta}" />
							</p:column>

							<p:column headerText="Nombre Cuenta">
								<h:outputText value="#{cuenta.nombreCuenta}" />
							</p:column>

							<p:column headerText="Numero de Cuenta">
								<h:outputText value="#{cuenta.numeroCuenta}" />
							</p:column>

							<p:column headerText="Tipo de cuenta">
								<h:outputText value="#{cuenta.tipoCuenta}" />
							</p:column>

							<p:column headerText="Saldo">
								<h:outputText value="#{cuenta.saldoCuenta}" />
							</p:column>

							<p:column width="30">
								<p:commandButton icon="fa fa-arrow-circle-right"
									actionListener="#{login.MovimientosCuenta(cuenta.idCuenta)}" />
							</p:column>
						</p:dataTable>
					</h:form>
					<br />

					<h2>
						<b>Prestamos</b>
					</h2>
					<p:dataTable var="prestamo" value="#{dashboard.prestamosCliente}">
						<p:column headerText="Id" width="80">
							<h:outputText value="#{prestamo.idPrestamo}" />
						</p:column>

						<p:column headerText="Convenio">
							<h:outputText value="#{prestamo.convenio}" />
						</p:column>

						<p:column headerText="Cuota">
							<h:outputText value="#{prestamo.cantidadCuotas}" />
						</p:column>

						<p:column headerText="Saldo Prestamo">
							<h:outputText value="#{prestamo.valorPrestamo}" />
						</p:column>

						<p:column width="30">
							<p:commandButton icon="fa fa-arrow-circle-right"
								actionListener="#{login.MovimientosPrestamo(prestamo.idPrestamo)}" />
						</p:column>

					</p:dataTable>

				</p:panel>

			</div>

			<div class="ui-g-4">
				<p:panel class="formContenedor">
					<h2>
						<b>Datos Personales</b>
					</h2>
					<p:panelGrid columns="2">

						<h:outputText value="Nombre:" />
						<h:outputText value="#{login.clienteCRM.nombres}" />

						<h:outputText value="Apellido:" />
						<h:outputText value="#{login.clienteCRM.apellidos}" />

						<h:outputText value="Fecha Nacimiento:" />
						<h:outputText value="#{login.clienteCRM.fechaNacimiento}" />

						<h:outputText value="Telefono:" />
						<h:outputText value="#{login.clienteCRM.telefono}" />

						<h:outputText value="Direccion:" />
						<h:outputText value="#{login.clienteCRM.direccion}" />

						<h:outputText value="Correo Electronico:" />
						<h:outputText value="#{login.clienteCRM.correoElectronico}" />

					</p:panelGrid>


				</p:panel>
			</div>
		</div>
	</ui:define>
</ui:composition>