<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/template/Template.xhtml">

	<ui:define name="content">

		<div class="ui-g">
			<div class="ui-g-9">
				<p:panel class="formContenedor">
					<h2>
						<b>Pagos Programados</b>
					</h2>
					<h:form>
						<p:dataTable var="temp" value="#{pagos.listaPagosClientes}">
							<p:column headerText="Id" width="80">
								<h:outputText value="#{temp.idPago}" />
							</p:column>

							<p:column headerText="Fecha pago">
								<h:outputText value="#{temp.fechaEjecucuion}" />
							</p:column>

							<p:column headerText="Cuenta a debitar">
								<h:outputText value="#{temp.cuentaDebitar}" />
							</p:column>

							<p:column headerText="Numero Factura">
								<h:outputText value="#{temp.numeroFactura}" />
							</p:column>

							<p:column headerText="Periodicidad">
								<h:outputText value="#{temp.periodicidad}" />
							</p:column>

							<p:column headerText="Valor">
								<h:outputText value="#{temp.valorFactura}" />
							</p:column>

							<p:column width="98">
								<p:commandButton icon="fa fa-times" title="Borrar" actionListener="#{pagos.eliminarPagoProgramado(temp)}" update="@all"/>
								<p:commandButton icon="fa fa-money" title="Pagar" actionListener="#{pagos.pagarManualmente(temp)}"/>
							</p:column>
						</p:dataTable>
					</h:form>
				</p:panel>
			</div>
			<div class="ui-g-3">
				<p:panel class="formContenedor">
					<h:form>
						<h2>
							<b>Nuevo Pago</b>
						</h2>
						<p:panelGrid columns="2">
							<h:outputText value="Empresa:" />
							<p:inputText value="#{pagos.nuevoPago.empresaFactura}" required="true"/>

							<h:outputText value="Convenio:" />
							<p:inputText value="#{pagos.nuevoPago.convenioFactura}" required="true" type="number"/>

							<h:outputText value="Numero Factura" />
							<p:inputText value="#{pagos.nuevoPago.numeroFactura}" required="true"/>
							
							<h:outputText value="Valor Factura" />
							<p:inputText value="#{pagos.nuevoPago.valorFactura}" required="true" type="number"/>

							<h:outputText value="Fecha:" />
							<p:calendar value="#{pagos.fechaNuevoPago}" required="true"/>

							<h:outputText value="Cuenta Debitar:" />
							<p:selectOneMenu value="#{pagos.nuevoPago.cuentaDebitar}" style="width:85%" required="true">
								<f:selectItem itemLabel="Seleccione" itemValue="" />
								<f:selectItems value="#{pagos.cuentasCliente}" var="theme" itemLabel="#{theme.numeroCuenta}" itemValue="#{theme.numeroCuenta}"/>
							</p:selectOneMenu>

							<h:outputText value="Descripcion:" required="true" />
							<p:inputText value="#{pagos.nuevoPago.identificacionPago}" />

							<h:outputText value="Periodicidad:" required="true" />
							<p:selectOneMenu value="#{pagos.nuevoPago.periodicidad}" style="width:85%">
								<f:selectItem itemLabel="Seleccione" itemValue="" />
								<f:selectItem itemLabel="MENSUAL" itemValue="MENSUAL" />
								<f:selectItem itemLabel="TRIMESTRAL" itemValue="TRIMESTRAL" />
								<f:selectItem itemLabel="SEMESTRAL" itemValue="SEMESTRAL" />
								<f:selectItem itemLabel="ANUAL" itemValue="ANUAL" />
							</p:selectOneMenu>

						</p:panelGrid>
						<p:commandButton value="Agregar" update="@all"  action="#{pagos.agregarNuevoPago()}"/>
					</h:form>
				</p:panel>
			</div>
		</div>
	</ui:define>
</ui:composition>