<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<h:form>

		<h:graphicImage class="logoEmpresa"
			value="/resources/images/UniversalBank.png" />

		<br />

		<div class="top-nav">
			<ul>
				<li><p:commandLink value="Inicio" class="black" action="Inicio"/></li>
				<li><p:commandLink value="Pagos" class="black" action="Pagos"/></li>
				<li><p:commandLink value="Salir" class="black" actionListener="#{login.realizarLogout()}"/></li>
			</ul>
		</div>
	</h:form>

</ui:composition>