<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html" xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Universal Bank</title>
	<h:outputStylesheet library="css" name="style.css" />
	<link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet" />
</h:head>

<h:body class="bodyLogin"> 
	<h:form id="Login" class="formularioCentrado">
		<p:panel>
			<p:messages showDetail="true" closable="true" autoUpdate="true" />
			<h:graphicImage value="/resources/images/UniversalBank.png" class="logoEmpresa" />
			<p>
				<p:inputText placeholder="Usuario" style="padding: 10px !important;" value="#{login.usuario}"/>
			</p>
			<p>
				<p:password placeholder="Contrasena" style="padding: 10px !important;" value="#{login.contrasena}"/>
			</p>
			<br />
			<br />
			<p:commandButton value="Ingresar" update="Login"  action="#{login.RealizarLogin()}" ajax="false"/>
		</p:panel>
	</h:form>
</h:body>
</html>